/* 

Selectores en CSS 

Los selectores sirven para especificar sobre qué elemento(s) se van a aplicar estilos.

Seelectores básicos:

 - Selector de etiqueta:
        Selecciona todos los elementos que coinciden con el nombre de la etiqueta o 
        elemento especificado.
        Sintaxis: nombre_etiqueta
        Ejemplo: h2 se aplicará a cualquier elemento <h2>.

 - Selector de clase:
        Selecciona todos los elementos que tienen el atributo class especificado.
        Sintaxis: nombre_clase
        Ejemplo: .parrafo seleccionará cualquier elemento que tenga la clase "parrafo".
 
 - Selector de ID:
        Selecciona un elemento basándose en el valor de su atributo id. Solo puede haber un
        elemento con un determinado ID dentro de un documento. (No se recomienda para dar estilos).
        Sintaxis: #nombre_id
        Ejemplo: #box1 se aplicará a cualquier elemento que tenga el ID "box1".

 - Selector universal:
        Selecciona todos los elementos del documento.
        Sintaxis: *
        Ejemplo: * se aplicará a todos los elementos del documento.

 - Selector de atributo:
        Selecciona elementos basándose en el valor de un determinado atributo.
        Sintaxis: [attr] [attr=value] [attr~=value] [attr|=value] [attr^=value] [attr$=value] [attr*=value]
        Ejemplo: a[href] seleccionará todos los elementos <a> que tengan el atributo "href" establecido (con
        cualquier valor).


Selectores combinadores:

    - Selector de hermano adyacente:

        Selecciona hermanos adyacentes. Esto quiere decir que el segundo elemento  sigue directamente 
        al primero y ambos comparten el mismo elemento padre.
        Sintaxis: A + B
        Ejemplo: La regla h2 + p se aplicará a todos los elementos <p> que siguen directamente a un 
        elemento <h2>.

    - Selector de hermano general

        Selecciona hermanos. Esto quiere decir que el segundo elemento sigue al primero (no necesariamente 
        de forma inmediata) y ambos comparten el mismo elemento padre.
        Sintaxis: A ~ B
        Ejemplo: La regla p ~ span se aplicará a todos los elementos <span> que siguen un elemento <p>.

    - Selector descendente:

        Selecciona los elementos que son descendientes del primer elemento.
        Sintaxis: A B
        Ejemplo: La regla div span se aplicará a todos los elementos <span> que están dentro de un 
        elemento <div>.


    - Selector de hijo directo:

        Selecciona los elementos que son hijos directos del primer elemento, es decir, que no
        estén dentro de otros elementos.
        Sintaxis: A > B
        Ejemplo: La regla ul > li se aplicará a todos los elementos <li> que son hijos directos de un 
        elemento <ul>.

*/

/* ------ Selector de etiqueta ------ */

p {
    color: red;
}

h1 {
    color: blue;
}


/* ------ Selector de clase ------ */

.title {
    color: green;
}

.text {
    color: blueviolet;
}


/* ------ Selector de ID ------ */

#title {
    color: aqua;
}

#text {
    color: blueviolet;
}


/* ------ Selector universal ------ */

/** {
    color: red;
}*/


/* ------ Selector de atributo ------ */

[href] {
    color: green;
}


/* Selector de atributo
   Selecciona los elementos que tienen ese atributo y ese valor */
[href="#"] {
    color: red;
}


/* Selector de atributo
   Selecciona los elementos que tienen ese atributo y almenos ese valor una vez */
[class~="verde"] {
    color: green;
}


/* Selector de atributo
   Selecciona los elementos que tienen ese atributo y exactamente ese valor o empiece
   por el valor seguido de un guion */
[class|="verde"] {
    color: blue;
}


/* Selector de atributo
   Selecciona los elementos que tienen ese atributo y empiezan por ese valor */
[class^="rojo"] {
    color: purple;
}


/* Selector de atributo
   Selecciona los elementos que tienen ese atributo y terminan por ese valor */
[class$="rojo"] {
    color: steelblue;
}


/* Selector de atributo
   Selecciona los elementos que tienen ese atributo y contengan ese valor */
[class*="rojo"] {
    color: brown;
}


/* ------ Selector de hermano adyacente ------ */

h1 + h2 {
    color: red;
}

h2 + h2 {
    color: blue;
}


/* ------ Selector de hermano general ------ */

h2 ~ h3 {
    color: green;
}


/* ------ Selector descendente ------ */

div span {
    color:blue;
}


/* ------ Selector de hijo directo ------ */

p > span {
    color: blueviolet;
}