/*
    Breakpoints: Existen dos tipos de breakpoints, los major breakpoints y los minor breakpoints
    Los major breakpoints son los que cambian la apariencia de la web de forma significativa
    Los minor breakpoints son los que cambian una cosa específica para un elemento en concreto
        
    Medidas más comunes:
        0 - 320px - 360px: Móviles portrait
        480px - 640px - 768px: Móviles landscape - tablet
        1024px - 1200px - 1400px - 1440px: tablets grandes, portátiles no HD
        1920 - hacia arriba: HD, 2k, 4k...
*/

.menu {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: royalblue;
    color: beige;
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px black;
}


@media screen and (min-width: 480px) {
    body {
        background-color: purple;
    }
    .menu {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: greenyellow;
    }
}