/*  

Grid

  - Es un modelo de layout que permite construir grillas o cuadrículas dinámicas. Es un valor de la 
  propiedad display

  - Al igual que con flexbox, tenemos display:grid y display:inline-grid

  - Se necesita un contenedor(grid-container) y almenos un hijo(grid-item)

  - Las celdas son los items, el contenedor es el contexto al que pertenecen los items


  TERMINOLOGÍA

    Grid column: Es cada columna de nuestra cuadrícula
    
    Grid row: Es cada fila de nuestra cuadrícula
    
    Grid cell: Es cada celda de nuestra cuadrícula
    
    Grid gap: Es la separación entre celdas
    
    Grid line: Existen column lines y row lines, son las lineas que delimitan cada columna/fila respectivamente
     
*/

body {
  background-image: radial-gradient(circle, #b94bf8, #3a1957);
  background-repeat: no-repeat;
  margin: 0;
  color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 50px 150px 10px;
  grid-template-rows: 100px 120px 50px;
  /*grid-gap: 20px;*/
  /*grid-column-gap: 10px;
  grid-row-gap: 10px;*/
}

.grid-item {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  font-size: 1.5rem;
}