 /*  
 
 Box model 
 
 En la web todo son cajas y la forma en la que el navegador las dibuja se le conoce como LAYOUT. Estas cajas tienen
 cierto comportamiento y propiedades que debemos conocer y que podemos modificar. Comprender el comportamiento de estas cajas 
 es clave para poder crear diseños con CSS o para alinear elementos con otros elementos.

 Las propiedades principales de cada una de estas cajas son: ancho(width) y height(alto). 
 
 Existen dos tipos de elementos en HTML: elementos en linea(inline) y de bloque(block). Esto se puede modificar 
 con la propiedad display.

 Características de los elementos en línea y en bloque

    Si una caja se define como un bloque, se comportará de las maneras siguientes:

        - La caja fuerza un salto de línea al llegar al final de la línea.
        - La caja se extenderá en la dirección de la línea para llenar todo el espacio disponible 
          que haya en su contenedor. En la mayoría de los casos, esto significa que la caja será tan 
          ancha como su contenedor, y llenará el 100% del espacio disponible.
        - Se respetan las propiedades width y height
        - Se le puede asignar ato y ancho. 
        - El relleno, el margen y el borde mantienen a los otros elementos alejados de la caja.

    Si una caja tiene una visualización externa de tipo inline, entonces:

        - La caja no fuerza ningún salto de línea al llegar al final de la línea.
        - Las dimensiones de la caja estarán dadas por su contenido.
        - Las propiedades width y height no se aplican.
        - No se le puede asignar ato y ancho.
        - Se aplican relleno, margen y bordes verticales, pero no mantienen alejadas otras cajas en línea.
        - Se aplican relleno, margen y bordes horizontales, y mantienen alejadas otras cajas en línea.

 */

 h1 {
     background-color: lightblue;
     height: 150px;
     width: 100px;
 }

 h2 {
     background-color: purple;
     width: 100px;
 }

 a {
     background-color: lime;
     width: 300px;
     height: 300px;
 }

.box-1 {
    width: 200px;
    height: 200px;
    background-color: lime;
    padding: 10px;
    border: 5px solid dodgerblue; /* Sus dimensiones cuentan para el tamaño total */
    margin: 10px;
    outline: 5px solid blue; /* Sus dimensiones no cuentan para el tamaño total */
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}