/*  

Pseudoelementos

Se utilizan para dar estilos a partes específicas de un elemento.

Se llaman pseudoelementos porque permiten insertar contenido en la página, como si fueran elementos del propio HTML, 
no obstante, no existen en el HTML y, por consecuencia, no existen en el DOM.

Sintaxis:

    selector::pseudo-element {
        styles..
    }

Existen 5 pseudolementos:

    - ::first-line (Elementos en bloque)
    - ::first-letter (Elementos en bloque)
    - ::selection (Retirado de la especificación)

    - ::before
    - ::after

     Para los pseudoelementos ::after y ::before, se debe tener
     en cuenta los siguiente:

        - La propiedad content es obligatoria
        - Son elementos en línea por defecto
        - Son hijos del elemento al que pertenecen
        - Son elementos que no existen en el HTML y, por consecuencia,
          no existen en el DOM

     Se pueden utilizar los pseudoelementos ::before y ::after para imprimir contendido o para utilizarlos como 
     “divs” vacíos y hacer todo tipo de diseños, adornos, etc., en pocas palabras, agregar contenido estético a 
     un elemento.

*/

.title::first-letter {
    color: red;
    font-size: 3em;
}

.text::first-line {
    color: blue;
}

.text::selection {
    color: white;
    background-color: lime;
}

.dolar::before, .dolar::after  {
    content: '';
    width: 20px;
    height: 20px;
    background-color: purple;
    display: block;
}


.contact-form:focus {
    border: 1px solid dodgerblue;
}