/* 

Practica con flexbox

*/

body {
  font-family: sans-serif;
  background-image: radial-gradient(circle, #b94bf8, #3a1957);
  background-repeat: no-repeat;
  margin: 0;
  color: #eee;
  height: 100vh;
}

.card {
  background-color: #333;
  width: 80%;
  height: 450px;
  display: flex;
  margin: 2em auto;
  border-radius: 10px;
}

.card__left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__left img {
  max-width: 90%;
}

.card__right {
  width: 80%;
  padding: 0 1rem;
}

.form__title {
  text-transform: uppercase;
}

.form {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__names {
  display: flex;
}

.form__names input {
  margin-right: 2rem;
}

.form__label {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.form__input,
.form__textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #eee;
  color: inherit;
}

.form__textarea {
  resize: none;
  border: 1px solid #eee;
}

.form__submit {
  border: none;
  background-color: dodgerblue;
  padding: .5rem;
  border-radius: 5px;
  color: inherit;
}