
body {
    height: 100vh;
    font-family: sans-serif;
    color: white;
    margin: 0;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:
        [first-column-line] 
        100px 
        [second-column-line] 
        100px 
        [third-column-line] 
        100px 
        [fourth-column-line] 
        100px
        [last-column-line];
    grid-template-rows:
        [first-row-line] 
        100px 
        [second-row-line] 
        100px 
        [third-row-line] 
        100px 
        [fourth-row-line] 
        100px
        [last-row-line];
}

.grid-item {
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.grid-item:first-child,
.grid-item:nth-child(2) {
    background-color: violet;
}

.grid-item:nth-child(3),
.grid-item:nth-child(4) {
    background-color: orange;
}

.grid-item:first-child {
    grid-column: second-column-line / third-column-line;
    grid-row: first-row-line / second-row-line;
}

.grid-item:nth-child(2) {
    grid-column: first-column-line / third-column-line;
    grid-row: second-row-line / fourth-row-line;
}

.grid-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}